
/* Desktop */
@media only screen and (min-device-width: 1080px)  {



    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: grid;
         font-family: robotto, arial, helvetica, sans-serif;
    }
    
    
    .navigator{
        background-color: #000;
        width: 100%;
        height: 50px;
        flex: auto;
    }
    
    .logo {
        background-color:transparent;
        width: 50px;
        height: 50px;
        margin: 0px;
        float: left;
    }
    
    
    .portada{
        width: 100%; /* Puedes ajustar el ancho según tus necesidades */
        height: 320px; /* Puedes ajustar la altura según tus necesidades */
        background-color: #000000; /* Color de fondo de la portada */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle un efecto de elevación */  
        object-fit: cover;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    
    
    .container {
        position: relative;
        background-color: lightgray;
        height: 100vh; /* Altura completa de la ventana */
    }
    .shop-link {
        position: absolute;
       top: 5px;
        right: 20px;
        padding: 10px 20px;
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-size: 16px;
        border-radius: 5px;
        transition: background-color 0.3s;
    }
    .shop-link:hover {
        background-color: #c72805;
    }
    
    
    /* mmusicplayer controls */
    .audio-container {
        width: 50px;
        height: 50px;
        background-color: rgb(255, 255, 255);
        display: flex;
     position: relative;
     background-position:left;
    
    }
    
    
    /* Donate button */
    
    #donate{
        color: white; 
        background-color: #000;
        background-position: relative;
        padding: 10px 20px ; 
        border: none;
            cursor: pointer;
            margin: 0 auto;
            font-size:10px;
            margin-bottom: 8px;
           justify-content: center;
           cursor:pointer;
           display: flex;
           font-weight: 900;
        } 
    
    .donate-button {
        background-color: #000000;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 5px;
        transition: background-color 0.3s;
    }
    
    .donate-button:hover {
        background-color:#c72805 ;
    }
    
    audio{
        position: absolute;
        top: 70px;
         right: 20px;
         padding: 10px 20px;
    
    }
    
    
    

    
    img{
        justify-content: center;
        align-items: center;
        object-fit: cover;
    }
    
    h2{
        color: white; 
        background-color: #000;
        background-position: relative;
        padding: 14px 20px ; 
        border: none;
            cursor: pointer;
            margin: 0 auto;
            font-size:14px;
            font-size: larger;
    
    }
    
    
    .gallery-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    
 
    
  

    footer {
        background-color: black;
        color: white;
        padding: 20px;
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 14px;
      }
      
      footer p {
        margin: 0;
      }

    




      #waveform{
        position: absolute;
        top: 70px;
         right: 20px;
         padding: 10px 20px;
      } 
      #play {

        background-color: #000000;
        color: white;
        padding: 10px 20px ; 
        border: none;
            cursor: pointer;
            margin: 0 auto;
            font-size:10px;
            margin-bottom: 8px;
            justify-content: center;
            font-weight: 900;
        
    font-size: large;
       }
    
       #pause {
        background-color: #000000;
        color: white;
        padding: 10px 20px ; 
        border: none;
            cursor: pointer;
            margin: 0 auto;
            font-size:10px;
            margin-bottom: 8px;
            justify-content: center;
    font-weight: 900;
    font-size: large;
       }
}
 

  







  /* ///////////////////////////////////////////ipad mini///////////////////////////////////////////////////// */

  /*ipad mini media query*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

    
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: grid;
         font-family: robotto, arial, helvetica, sans-serif;
    }
    
    
    .navigator{
        background-color: #000;
        width: 100%;
        height: 50px;
        flex: auto;
    }
    
    .logo {
        background-color:transparent;
        width: 50px;
        height: 50px;
        margin: 0px;
        float: left;
    }
    
    
    
    .portada{
        width: 100%; /* Puedes ajustar el ancho según tus necesidades */
        height: 320px; /* Puedes ajustar la altura según tus necesidades */
        background-color: #000000; /* Color de fondo de la portada */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle un efecto de elevación */  
        object-fit: cover;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    
    
    .container {
        position: relative;
        background-color: lightgray;
        height: 100vh; /* Altura completa de la ventana */
    }
    .shop-link {
        position: absolute;
       top: 5px;
        right: 20px;
        padding: 10px 20px;
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-size: 16px;
        border-radius: 5px;
        transition: background-color 0.3s;
    }
    .shop-link:hover {
        background-color: #c72805;
    }
    
    
 
    .audio-container {
        width: 50px;
        height: 50px;
        background-color: rgb(255, 255, 255);
        display: flex;
     position: relative;
     background-position:left;
    
    }
    
    
    
    #donate{
        color: white; 
        background-color: #000;
        background-position: relative;
        padding: 10px 20px ; 
        border: none;
            cursor: pointer;
            margin: 0 auto;
            font-size:10px;
            margin-bottom: 8px;
           justify-content: center;
           cursor:pointer;
           display: flex;
           font-weight: 900;
        }
    
        #donate :hover{
            background-color: #c72805;
            color: #000;
        }
    .donate-button {
        background-color: #000000;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 5px;
        transition: background-color 0.3s;
    }
    
    .donate-button:hover {
        background-color:#c72805 ;
    }
    
    audio{
        position: absolute;
        top: 70px;
         right: 20px;
         padding: 10px 20px;
    
    }
    
    
 
    
   
    img{
        justify-content: center;
        align-items: center;
        object-fit: cover;
    }
    
    h2{
        color: white; 
        background-color: #000;
        background-position: relative;
        padding: 14px 20px ; 
        border: none;
            cursor: pointer;
            margin: 0 auto;
            font-size:14px;
            font-size: larger;
    
    }
    

    .blackmith:hover{
     background-color: #c72805;
    }

    
    .gallery-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    
.carbons{
     display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 40px;
    width: 100%;
    height: auto;
    object-fit: cover;
   margin: 0 auto;

}
    
    footer {
        background-color: black;
        color: white;
        padding: 20px;
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 14px;
      }
      
      footer p {
        margin: 0;
      }




      #waveform{
        position: absolute;
        top: 70px;
         right: 20px;
         padding: 10px 20px;
      } 
      #play {

        background-color: #000000;
        color: white;
        padding: 10px 20px ; 
        border: none;
            cursor: pointer;
            margin: 0 auto;
            font-size:10px;
            margin-bottom: 8px;
            justify-content: center;
            font-weight: 900;
        
    font-size: large;
       }
    
       #pause {
        background-color: #000000;
        color: white;
        padding: 10px 20px ; 
        border: none;
            cursor: pointer;
            margin: 0 auto;
            font-size:10px;
            margin-bottom: 8px;
            justify-content: center;
    font-weight: 900;
    font-size: large;
       }
}



/* ///////////////////////////////////////////ipad Air///////////////////////////////////////////////////// */

  /*ipad air query*/
  @media only screen and (min-device-width: 820px) and (max-device-width: 1180px) {

    
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: grid;
         font-family: robotto, arial, helvetica, sans-serif;
    }
    
    
    .navigator{
        background-color: #000;
        width: 100%;
        height: 50px;
        flex: auto;
    }
    
    .logo {
        background-color:transparent;
        width: 50px;
        height: 50px;
        margin: 0px;
        float: left;
    }
    
    
    
    .portada{
        width: 100%; /* Puedes ajustar el ancho según tus necesidades */
        height: 320px; /* Puedes ajustar la altura según tus necesidades */
        background-color: #000000; /* Color de fondo de la portada */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle un efecto de elevación */  
        object-fit: cover;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    
    
    .container {
        position: relative;
        background-color: lightgray;
        height: 100vh; /* Altura completa de la ventana */
    }
    .shop-link {
        position: absolute;
       top: 5px;
        right: 20px;
        padding: 10px 20px;
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-size: 16px;
        border-radius: 5px;
        transition: background-color 0.3s;
    }
    .shop-link:hover {
        background-color: #c72805;
    }
    
    
 
    .audio-container {
        width: 50px;
        height: 50px;
        background-color: rgb(255, 255, 255);
        display: flex;
     position: relative;
     background-position:left;
    
    }
    
    
    
    #donate{
    color: white; 
    background-color: #000;
    background-position: relative;
    padding: 10px 20px ; 
    border: none;
        cursor: pointer;
        margin: 0 auto;
        font-size:10px;
        margin-bottom: 8px;
       justify-content: center;
       cursor:pointer;
       display: flex;
       font-weight: 900;
    }

    #dinate :hover{
        background-color: #c72805;
        color: #000;
    }
    
    .donate-button {
        background-color: #000000;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 5px;
        transition: background-color 0.3s;
    }
    
    .donate-button:hover {
        background-color:#c72805 ;
    }
    
    audio{
        position: absolute;
        top: 70px;
         right: 20px;
         padding: 10px 20px;
    
    }
    
    
 
    
   
    img{
        justify-content: center;
        align-items: center;
        object-fit: cover;
    }
    
    h2{
        color: white; 
        background-color: #000;
        background-position: relative;
        padding: 14px 20px ; 
        border: none;
            cursor: pointer;
            margin: 0 auto;
            font-size:14px;
            font-size: larger;
    
    }
    

    
    .blackmith:hover{
     background-color: #c72805;
    }

    
    .gallery-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    
    .carbons{
        display: flex;
           flex-wrap: wrap;
           justify-content: center;
           align-items: center;
           margin-top: 20px;
           margin-bottom: 40px;
       width: 100%;
       height: auto;
       object-fit: cover;
      
   }
    
    footer {
        background-color: black;
        color: white;
        padding: 20px;
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 14px;
      }
      
      footer p {
        margin: 0;
      }
    

      #waveform{
        position: absolute;
        top: 70px;
         right: 20px;
         padding: 10px 20px;
      } 


    #play {

        background-color: #000000;
        color: white;
        padding: 10px 20px ; 
        border: none;
            cursor: pointer;
            margin: 0 auto;
            font-size:10px;
            margin-bottom: 8px;
            justify-content: center;
            font-weight: 900;
        
    font-size: large;
       }
    
       #pause {
        background-color: #000000;
        color: white;
        padding: 10px 20px ; 
        border: none;
            cursor: pointer;
            margin: 0 auto;
            font-size:10px;
            margin-bottom: 8px;
            justify-content: center;
    font-weight: 900;
    font-size: large;
       }

       .waveimage {
        display:flex;
        width: 100%;
        height: autop;
background-color: transparent;
object-fit: cover;
background-repeat:no-repeat;
background-size: cover;
}

      #waveform{
        position: absolute;
        top: 70px;
         right: 20px;
         padding: 10px 20px;
      } 
      #play {

        background-color: #000000;
        color: white;
        padding: 10px 20px ; 
        border: none;
            cursor: pointer;
            margin: 0 auto;
            font-size:10px;
            margin-bottom: 8px;
            justify-content: center;
            font-weight: 900;
        
    font-size: large;
       }
    
       #pause {
        background-color: #000000;
        color: white;
        padding: 10px 20px ; 
        border: none;
            cursor: pointer;
            margin: 0 auto;
            font-size:10px;
            margin-bottom: 8px;
            justify-content: center;
    font-weight: 900;
    font-size: large;
       }
}  


 /* ///////////////////////////////////////////ipad pro///////////////////////////////////////////////////// */

  /*ipad pro query*/
  @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {

    
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: grid;
         font-family: robotto, arial, helvetica, sans-serif;
    }
    
    
    .navigator{
        background-color: #000;
        width: 100%;
        height: 50px;
        flex: auto;
    }
    
    .logo {
        background-color:transparent;
        width: 50px;
        height: 50px;
        margin: 0px;
        float: left;
    }
    
    
    
    .portada{
        width: 100%; /* Puedes ajustar el ancho según tus necesidades */
        height: 370px; /* Puedes ajustar la altura según tus necesidades */
        background-color: #000000; /* Color de fondo de la portada */  
        object-fit: cover;
        display: flex;
        align-items: center;
    }
    
    
    .container {
        position: relative;
        background-color: lightgray;
        height: 100vh; /* Altura completa de la ventana */
    }
    .shop-link {
        position: absolute;
       top: 5px;
        right: 20px;
        padding: 10px 20px;
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-size: 16px;
        border-radius: 5px;
        transition: background-color 0.3s;
    }
    .shop-link:hover {
        background-color: #c72805;
    }
    
    
 
    .audio-container {
        width: 50px;
        height: 50px;
        background-color: rgb(255, 255, 255);
        display: flex;
     position: relative;
     background-position:left;
    
    }
    
    
    
    #donate{
        color: white; 
        background-color: #000;
        background-position: relative;
        padding: 10px 20px ; 
        border: none;
            cursor: pointer;
            margin: 0 auto;
            font-size:10px;
            margin-bottom: 8px;
           justify-content: center;
           cursor:pointer;
           display: flex;
        }
    
        #dinate :hover{
            background-color: #c72805;
            color: #000;
        }
    .donate-button {
        background-color: #000000;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 5px;
        transition: background-color 0.3s;
    }
    
    .donate-button:hover {
        background-color:#c72805 ;
    }
    
    audio{
        position: absolute;
        top: 70px;
         right: 20px;
         padding: 10px 20px;
    
    }
    
    
 
    
   
    img{
        justify-content: center;
        align-items: center;
        object-fit: cover;
    }
    
    h1{
        color: white; 
        background-color: #000;
        background-position: relative;
        padding: 14px 20px ; 
        border: none;
            cursor: pointer;
            margin: 0 auto;
            font-size:10px;
            font-size: larger;
    
    }
    
   
    
    .blackmith:hover{
     background-color: #c72805;
    }

    
    .gallery-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    .carbons{
        display: flex;
           flex-wrap: wrap;
           justify-content: center;
           align-items: center;
           margin-top: 20px;
           margin-bottom: 40px;
       width: 100%;
       height: auto;
       object-fit: cover;
       
   }

    
    footer {
        background-color: black;
        color: white;
        padding: 20px;
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 14px;
      }
      
      footer p {
        margin: 0;
      }


      #waveform{
        position: absolute;
        top: 70px;
         right: 20px;
         padding: 10px 20px;
      } 
      #play {

        background-color: #000000;
        color: white;
        padding: 10px 20px ; 
        border: none;
            cursor: pointer;
            margin: 0 auto;
            font-size:10px;
            margin-bottom: 8px;
            justify-content: center;
            font-weight: 900;
        
    font-size: large;
       }
    
       #pause {
        background-color: #000000;
        color: white;
        padding: 10px 20px ; 
        border: none;
            cursor: pointer;
            margin: 0 auto;
            font-size:10px;
            margin-bottom: 8px;
            justify-content: center;
    font-weight: 900;
    font-size: large;
       }
}


/*////////////////////////////////phone 14 pro max/////////////////////////////////////////////////////*/
@media screen and (max-width: 430px) {
    
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: grid;
         font-family: robotto, arial, helvetica, sans-serif;
    }
    
    
    .navigator{
        background-color: #000;
        width: 100%;
        height: 50px;
        flex: auto;
    }
    
    .logo {
        background-color:transparent;
        width: 50px;
        height: 50px;
        margin: 0px;
        float: left;
    }
    
    
    
    .portada{
        width: 100%; /* Puedes ajustar el ancho según tus necesidades */
        height: 230px; /* Puedes ajustar la altura según tus necesidades */
        background-color: #000000; /* Color de fondo de la portada */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle un efecto de elevación */  
        object-fit: cover;
        display: flex;
        justify-content: center;
     
    }
    
    
    .container {
        position: relative;
        background-color: lightgray;
        height: 100vh; /* Altura completa de la ventana */
    }
    .shop-link {
        position: absolute;
       top: 5px;
        right: 20px;
        padding: 10px 20px;
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-size: 16px;
        border-radius: 5px;
        transition: background-color 0.3s;
    }
    .shop-link:hover {
        background-color: #c72805;
    }
    
    
 
    .audio-container {
        width: 50px;
        height: 50px;
        background-color: rgb(255, 255, 255);
        display: flex;
     position: relative;
     background-position:left;
    
    }
    
    
    #donate{
        color: white; 
        background-color: #000;
        background-position: relative;
        padding: 10px 20px ; 
        border: none;
            cursor: pointer;
            margin: 0 auto;
            font-size:10px;
            justify-content: center;
            display: flex;
            margin-bottom: 8px;
        }
        
    
    .donate-button {
        background-color: #000000;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 5px;
        transition: background-color 0.3s;
    }
    
    .donate-button:hover {
        background-color:#c72805 ;
    }
    
    audio{
        position: absolute;
        top: 70px;
         right: 20px;
         padding: 10px 20px;
    
    }
    
   
    
    img{
        justify-content: center;
        align-items: center;
        object-fit: cover;
    
    }

    .blackmith{
        width: 200px;
        height: auto;
        object-fit: cover;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        background-color: #fff;
        border-radius: 30%;
    }

    .blackmith:hover{
background-color: #c72805;
color: #fff;
    }
    
    
    h2{
        color: white; 
        background-color: #000;
        background-position: relative;
        padding: 14px 20px ; 
        border: none;
            cursor: pointer;
            margin: 0 auto;
            font-size:14px;
            font-size: larger;
    
    }
    
    
    .gallery-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    
    .carbons{
        display: flex;
           flex-wrap: wrap;
           justify-content: center;
           align-items: center;
           margin-top: 20px;
           margin-bottom: 40px;
       width: 30%;
       height: auto;
       object-fit: cover;
       display: flex;
       justify-content: center;
       background-color: transparent !important;
  
      
   }
    footer {
        background-color: black;
        color: white;
        padding: 20px;
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 14px;
      }
      
      footer p {
        margin: 0;
      }





      #waveform{
        position: absolute;
        top: 70px;
         right: 20px;
         padding: 10px 20px;
      } 
      #play {

        background-color:transparent;
        color: white;
        padding: 10px 20px ; 
        border: none;
            cursor: pointer;
            margin: 0 auto;
            font-size:10px;
            margin-bottom: 8px;
            justify-content: center;
            font-weight: 900;
        
    font-size: large;
       }
    
       #pause {
        background-color: #000000;
        color: white;
        padding: 10px 20x ; 
        border: none;
            cursor: pointer;
            margin: 0 auto;
            font-size:10px;
            margin-bottom: 8px;
            justify-content: center;
    font-weight: 900;
    font-size: large;
       }

   
}



/*////////////////////////////////phone 12/////////////////////////////////////////////////////*/
@media screen and (max-width: 390px) {
    
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: grid;
         font-family: robotto, arial, helvetica, sans-serif;
    }
    
    
    .navigator{
        background-color: #000;
        width: 100%;
        height: 50px;
        flex: auto;
    }
    
    .logo {
        background-color:transparent;
        width: 50px;
        height: 50px;
        margin: 0px;
        float: left;
    }
    
    
    
    .portada{
        width: 100%; /* Puedes ajustar el ancho según tus necesidades */
        height: 230px; /* Puedes ajustar la altura según tus necesidades */
        background-color: #000000; /* Color de fondo de la portada */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle un efecto de elevación */  
        object-fit: cover;
        display: flex;
    
    }
    
    
    .container {
        position: relative;
        background-color: lightgray;
        height: 100vh; /* Altura completa de la ventana */
    }
    .shop-link {
        position: absolute;
       top: 5px;
        right: 20px;
        padding: 10px 20px;
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-size: 16px;
        border-radius: 5px;
        transition: background-color 0.3s;
    }
    .shop-link:hover {
        background-color: #c72805;
    }
    
    
 
    .audio-container {
        width: 50px;
        height: 50px;
        background-color: rgb(255, 255, 255);
        display: flex;
     position: relative;
     background-position:left;
    
    }
    
    
    
    #donate{
    color: white; 
    background-color: #000;
    background-position: relative;
    padding: 10px 20px ; 
    border: none;
        cursor: pointer;
        margin: 0 auto;
        font-size:10px;
        justify-content: center;
        display: flex;
        margin-bottom: 8px;
    }
    
    .donate-button {
        background-color: #000000;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 5px;
        transition: background-color 0.3s;
    
    }
    
    .donate-button:hover {
        background-color:#c72805 ;
    }
    
    audio{
        position: absolute;
        top: 70px;
         right: 20px;
         padding: 10px 20px;
    
    }
    
   
    
    img{
        justify-content: center;
        align-items: center;
        object-fit: cover;
    
    }

    .blackmith{
        width: 200px;
        height: auto;
        object-fit: cover;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        background-color: #fff;
        border-radius: 30%;
    }

    .blackmith:hover{
background-color: #c72805;
color: #fff;
    }
    
    
    h2{
        color: white; 
        background-color: #000;
        background-position: relative;
        padding: 14px 20px ; 
        border: none;
            cursor: pointer;
            margin: 0 auto;
            font-size:14px;
            font-size: larger;
    
    }
    
    
    .gallery-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    
    .carbons{
        display: flex;
           flex-wrap: wrap;
           justify-content: center;
           align-items: center;
           margin-top: 20px;
           margin-bottom: 40px;
       width: 20%;
       height: auto;
       object-fit: cover;
       display: flex;
       justify-content: center;
       background-color: transparent !important;
  
      
   }
    footer {
        background-color: black;
        color: white;
        padding: 20px;
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 14px;
      }
      
      footer p {
        margin: 0;
      }



      #waveform{
        position: absolute;
        top: 70px;
         right: 20px;
         padding: 10px 20px;
      } 
      #play {

        background-color:transparent;
        color: white;
        padding: 10px 20px ; 
        border: none;
            cursor: pointer;
            margin: 0 auto;
            font-size:10px;
            margin-bottom: 8px;
            justify-content: center;
            font-weight: 900;
        
    font-size: large;
       }
    
       #pause {
        background-color: #000000;
        color: white;
        padding: 10px 20x ; 
        border: none;
            cursor: pointer;
            margin: 0 auto;
            font-size:10px;
            margin-bottom: 8px;
            justify-content: center;
    font-weight: 900;
    font-size: large;
       }
 

}
