body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
     font-family: robotto, arial, helvetica, sans-serif;
}


.navigator{
    background-color: #000;
    width: 100%;
    height: 50px;
    flex: auto;
}

.logo {
    background-color:transparent;
    width: 50px;
    height: 50px;
    margin: 0px;
    float: left;
}



.portada{
    width: 100%; /* Puedes ajustar el ancho según tus necesidades */
    height: 740px; /* Puedes ajustar la altura según tus necesidades */
    background-color: #4e4e4e; /* Color de fondo de la portada */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle un efecto de elevación */  
    object-fit: cover;
}


.container {
    position: relative;
    background-color: lightgray;
    height: 100vh; /* Altura completa de la ventana */
}
.shop-link {
    position: absolute;
   top: 5px;
    right: 20px;
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.shop-link:hover {
    background-color: #c72805;
}


/* mmusicplayer controls */
.audio-container {
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    display: flex;
 position: relative;
 background-position:left;

}


/* Donate button */

#donate{
color: white; 
background-color: #000;
background-position: relative;
padding: 10px 20px ; 
border: none;
    cursor: pointer;
    margin: 0 auto;
    font-size:10px;
}

.donate-button {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.donate-button:hover {
    background-color:#c72805 ;
}

audio{
    position: absolute;
    top: 70px;
     right: 20px;
     padding: 10px 20px;

}

.presentacion{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 720px;
    height: 720px;
    object-fit: cover;
   
}

img{
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

h1{
    color: white; 
    background-color: #000;
    background-position: relative;
    padding: 14px 20px ; 
    border: none;
        cursor: pointer;
        margin: 0 auto;
        font-size:10px;
        font-size: larger;

}